
#bar {
    background-color: aqua;
}

#box1 {
background-color: #f1faee;
}

#box2 {
background-color: #e63946;
}

#box3 {
background-color: #a8dadc;
}

#box4 {
  background-color:  #457b9d;
  }
 
  .list li {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px;
    overflow: hidden;
    background-color: #1d3557;
    align-items: baseline;
}