body {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

img {
    width: 45%;
}

ul {
    list-style-type: none;
}

li {
    padding-top: 5px;
}

#first {
    text-align: center;
    align-items: center;
    
    border: 3px solid #000000;
}

@media screen and (max-width: 992px) {
    body {
        background-color: aquamarine;
        display: grid;
        grid-template-columns: 1fr 1fr;
} }

@media screen and (max-width: 600px) {
    body {
        background-color: aquamarine;
        display: grid;
        grid-template-columns: 1fr;
} }

p {
    font-family: 'Krona One', sans-serif;
}