@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


body {
  background-color: #e7ecf2;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 522px 3px;
  grid-gap: 40px;
}

section {
  grid-row: 1/3;
}

section.smaller {
  background-color: white;
  /* display: grid;
  grid-template-rows: 1fr*5; */
  text-align: center;
  justify-content: center;
  width: 300px;
  height: 410px;
  line-height: 30px;
}

.title {
  
}

section.larger {
  grid-row: 1;
  background-color: white;
  width: 350px;
  height: 460px;
  text-align: center;
  justify-content: center;
  line-height: 30px;
}

.pic {
  padding-top: 40px;
}

span {
  font-size: 3.5em;
  vertical-align: text-top;
  font-weight: bold;
}

em {
  position: relative;
  top: 0.7em;
  font-size: 1.7em;
  font-style: normal;
}

@media only screen and (max-width: 799px) {
  main {
    display: block;
    width: auto;
  }
  body {
    margin: 0;
    width: auto;
  }
}

ul {
  list-style-type: none;
}

.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}